version: "3.8"

services:
  postgres:
    image: postgres:15
    container_name: yc_postgres
    environment:
      POSTGRES_USER: yc_user
      POSTGRES_PASSWORD: yc_pass
      POSTGRES_DB: yieldcraft
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  mongodb:
    image: mongo:6
    container_name: yc_mongo
    ports:
      - "27017:27017"
    volumes:
      - mongodata:/data/db

volumes:
  pgdata:
  mongodata:
